:root {
  background: black;
    
  --cols: 10;
  --rows: 2;
  --size: 10vh;
  --ml: 20vh;
  --mt: 10vh;
}

#app {
  width: 100%;
  height: 100%;
}

.menu {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #5f8f9f;
  position: absolute;
}

.menu img {
  width: 5vh;
  height: 5vh;
  transition: transform 0.1s;
}

.menu img:hover {
  transform: scale(1.1);
}

.viewport {
  width: 90vw;
  height: 90vh;
  background: #333;
  margin: auto;
  display: block;
  overflow: scroll;
}

.game {
  margin-left: var(--ml);
  margin-top: var(--mt);
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--size));
  grid-template-rows: repeat(var(--rows), var(--size));
  grid-gap: 1vh;
}

.game .card {
  background: white;
}
